<h2>
  Products
</h2>
<button md-mini-fab >
  <md-icon class="md-24" (click)="currentProduct = {}; productsForm.show()">add</md-icon>
  <!-- <md-icon class="md-24" (click)="currentProduct = {}; productsForm.show()">add</md-icon>-->
</button>
<div class="row">
<div class="col-lg-4 col-sm-12" *ngFor="let product of products">
  <md-card >
    <md-card-title-group>
        <img md-card-sm-image src="{{product.imageUrl}}">
        <md-card-title>{{product.productName}}</md-card-title>
        <md-card-subtitle>{{product.price}}</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <div class="description">{{product.description}}</div>
    </md-card-content>
     <md-card-actions layout="row" layout-align="end center">
          <button md-mini-fab >
            <md-icon class="md-24" (click)="currentProduct = product; productsForm.open()">mode_edit</md-icon>
          </button>
          <button md-mini-fab >
            <md-icon class="md-24" (click)="currentProduct = product; productView.show()">search</md-icon>
          </button>
          <button md-mini-fab (click)="currentProduct = product; confirmDeleteProduct()">
            <md-icon class="md-24">delete</md-icon>
          </button>
      </md-card-actions>
  </md-card>
</div>
    


<!--
  ng2-modal
<modal #productsForm title="Product Form" cancelButtonLabel="close it" modalClass="modal-lg">
    <modal-content>
        <form>
          <md-card>
            <md-card-title-group>
                <md-card-title>Add the product data</md-card-title>
            </md-card-title-group>
            <md-card-content>
              <md-input placeholder="Id" disabled [(ngModel)]="currentProduct.id"> </md-input>
              <md-input placeholder="Name" [(ngModel)]="currentProduct.productName"> </md-input>
              <md-input placeholder="Code" [(ngModel)]="currentProduct.productCode"> </md-input>
              <md-input placeholder="Release Date" [(ngModel)]="currentProduct.releaseDate"> </md-input>
              <md-input placeholder="Price" [(ngModel)]="currentProduct.price"> </md-input>
              <md-input placeholder="Description" [(ngModel)]="currentProduct.description"> </md-input>
              <md-input placeholder="Image Url" [(ngModel)]="currentProduct.imageUrl"> </md-input>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <button md-mini-fab >
                <md-icon class="md-24" (click)="addOrUpdateProduct(); lgModal.close();">save</md-icon>
              </button>
              <button md-mini-fab >
                <md-icon class="md-24" (click)="productsForm.close()">cancel</md-icon>
              </button>
          </md-card-actions>
          </md-card>
        </form>
    </modal-content>
</modal>

ng2-bootstrap
<div bsModal #productView="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="productView.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Large modal</h4>
      </div>
      <div class="modal-body">
        <md-card>
          <md-card-title-group>
              <img md-card-md-image src="{{currentProduct.imageUrl}}">
              <md-card-title>{{currentProduct.productName}}</md-card-title>
              <md-card-subtitle>{{currentProduct.price}}</md-card-subtitle>
          </md-card-title-group>
          <md-card-content>
            <div><strong>Id: </strong>{{currentProduct.id}}</div>
            <div><strong>Code: </strong>{{currentProduct.productCode}}</div>
            <div><strong>Release Date: </strong>{{currentProduct.releaseDate}}</div>
            <div>{{currentProduct.description}}</div>
          </md-card-content>
        </md-card>
        <md-dialog-actions>
          <button md-mini-fab >
            <md-icon class="md-24" (click)="productView.hide()">cancel</md-icon>
          </button>
        </md-dialog-actions>
      </div>
    </div>
  </div>
</div>
-->
<!--

ng2-material
<md-dialog #productsForm (onClose)="addOrUpdateProduct($event)">
  <form>
    <md-card>
      <md-card-title-group>
          <md-card-title>Create a new product</md-card-title>
      </md-card-title-group>
      <md-card-content>
        <md-input placeholder="Id" disabled
          [(ngModel)]="currentProduct.id">
        </md-input>
        <md-input placeholder="Name"
          [(ngModel)]="currentProduct.productName">
        </md-input>
        <md-input placeholder="Code"
          [(ngModel)]="currentProduct.productCode">
        </md-input>
        <md-input placeholder="Release Date"
          [(ngModel)]="currentProduct.releaseDate">
        </md-input>
        <md-input placeholder="Price"
          [(ngModel)]="currentProduct.price">
        </md-input>
        <md-input placeholder="Description"
          [(ngModel)]="currentProduct.description">
        </md-input>
        <md-input placeholder="Image Url"
          [(ngModel)]="currentProduct.imageUrl">
        </md-input>
      </md-card-content>
    </md-card>
  </form>
  <md-dialog-actions>
    <button md-button (click)="productsForm.close(false)">
      <span>Cancel</span>
    </button>
    <button md-button class="md-primary" (click)="productsForm.close(true)">
      <span>Save</span>
    </button>
  </md-dialog-actions>
</md-dialog>

<md-dialog #productView>
  <md-card>
    <md-card-title-group>
        <img md-card-md-image src="{{currentProduct.imageUrl}}">
        <md-card-title>{{currentProduct.productName}}</md-card-title>
        <md-card-subtitle>{{currentProduct.price}}</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
      <div><strong>Id: </strong>{{currentProduct.id}}</div>
      <div><strong>Code: </strong>{{currentProduct.productCode}}</div>
      <div><strong>Release Date: </strong>{{currentProduct.releaseDate}}</div>
      <div>{{currentProduct.description}}</div>
    </md-card-content>
  </md-card>
  <md-dialog-actions>
    <button md-button  class="md-primary" (click)="productView.close()">
      <span>Close</span>
    </button>
  </md-dialog-actions>
</md-dialog>
-->